main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}
.izquierda
{
    text-align: left;
    background-color: blue;
    width: 50vw;
    height: 50vh;
}
.derecha
{
    text-align: right;
    width: 50vw;
    height: 50vh;
}