main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}
.izquierda
{
    text-align: left;
    background-color: blue;
}
.derecha
{
    text-align: right;
}