body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}
main
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 30vw;
}
.tabla
{
    border: 2px solid black;
    display: table;
}
.fila
{
    display: table-row;
}
.columna
{
    border: 1px solid black;
    display: table-cell; 
}
.columna-barato
{
    display: table-cell;
    background-color: lightblue;
}